@import url("css/global.css");

.first .second {
	border: 5px solid;
	border-color:blue;
	width: 590px;
	height: 430px;
	margin: 0px;
	padding: 50px;
	float: left;
	margin-left: 15%;
}

.first .third div {
	border: 5px solid;
	border-color:green;
	width: 640px;
	height: 480px;
	margin: 0px;
	padding: 0px;
	float: left;
	position: relative;
	margin-left: 0px;
}
